@use "../../assets/styles/colors.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  box-sizing: border-box;
  color: rgb(94, 108, 132);
  @include tablet {
    box-shadow: none;
  }
}

.header {
  height: 84px;

  h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 43, 77);
  }

  p {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgb(23, 43, 77);
  }
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  &-email {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    height: 30px;
    outline: none;
    padding: 9px 9px 0px 8px;
    transition: background-color 0.2s ease-in-out 0s,
      border-color 0.2s ease-in-out 0s;

    &-edit {
      color: rgb(66, 82, 110) !important;
      height: 24px !important;
      width: 24px !important;
      float: right;
      margin-top: -22px;
      margin-right: -27px;
    }
  }
}

.login-by-order-socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  p {
    color: rgb(94, 108, 132);
    content: attr(data-i18n-continue);
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    font-weight: 600;
    text-align: center;
  }
}

.register {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 20px;
  margin-top: 24px;
  gap: 6px;

  a {
    font-size: 14px;
    list-style: none;
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer {
  border-top: 1px solid rgb(193, 199, 208);
  margin-top: 16px;
  padding-top: 24px;
  color: rgb(23, 43, 77);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
  @include shortScreen1 {
    position: static;
    transform: none;
    width: auto;
  }
}

.legal-message {
  font-size: 12px;
  text-align: left;
  padding-left: 0px;
  line-height: 18px;

  & a {
    color: var(--ds-link, #0052cc);
    text-decoration: none;
  }
}

.button__socials {
  border: 1px solid rgb(193, 199, 208) !important;
  background: rgb(255, 255, 255) !important;
  color: black;
  height: 40px !important;
}
