.container {
}

.test {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.menu {
  max-height: 924px;
  border-radius: 8px;
  box-shadow: var(
    --ds-shadow-overlay,
    0px 8px 12px #091e4226,
    0px 0px 1px #091e424f
  );
  box-sizing: border-box;
  color: white;
  background-color: #282e33;
  position: fixed;
  min-width: 232px;

  border: 1px solid #39424a;
  padding: 20px 16px;
}
