@use "../../assets/styles/colors.scss" as *;
@use "../../assets/styles/mixins.scss" as *;

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 32px 40px;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  box-sizing: border-box;
  color: rgb(94, 108, 132);
  @include tablet {
    box-shadow: none;
  }
}

.header {
  height: 84px;

  h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(23, 43, 77);
  }

  p {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: rgb(23, 43, 77);
  }
}

.account {
  display: flex;
  margin-bottom: 14px;
  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #0052cc;
    min-width: 72px;
    min-height: 72px;
  }

  .gmail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 16px;

    p {
      font-size: 20px;
      line-height: 24px;
      color: rgb(23, 43, 77);
      font-weight: 500;
    }

    p:last-child {
      font-size: 14px;
      line-height: 20px;
      color: rgb(37, 56, 88);
      margin-top: 4px;
      font-weight: normal;
    }
  }
}

.logout {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__other {
    color: #0052cc !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  border-top: 1px solid rgb(193, 199, 208);
  margin-top: 16px;
  padding-top: 24px;
  color: rgb(23, 43, 77);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}
